<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="contact_us_custom" translate="label" sortOrder="210">
            <label>Contact Us</label>
        </tab>
        <section id="Contactsection" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Contact Section</label>
            <tab>contact_us_custom</tab>
            <resource>SimplifiedMagento_ContactUs::parent</resource>
            <group id="ContactGroup" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Contact Group</label>
                <field id="ToField" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" sortOrder="10" type="text">
                    <label>To</label>
                </field>
                <field id="CcField" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" sortOrder="10" type="text">
                    <label>Cc</label>
                </field>
                <field id="BccField" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" sortOrder="10" type="text">
                    <label>Bcc</label>
                </field>
                <field id="IsEnabled" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" sortOrder="40" type="select">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>

    </system>
</config>